body {
    font-family: sans-serif;
}


h1 {
    text-align: center;
    color: rgb(rgb(202, 181, 181);
}
.social:hover img{
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
header {
    background-color: black;
    height: 50px;
}
header:hover{
    box-shadow: 2px 2px 2px 1px rgb(91, 60, 60);
}

